<div style="margin-left: 20%; margin-right: 20%; margin-top: 5%">
  <div class="panel panel-default">
    <div class="panel-heading" style="text-align: center">
      Welcome to the Game
    </div>
    <div class="panel-body">
      <div class="row">
      <div class="col-xs-6" style="text-align: right">
        <button class="btn btn-primary">Start</button>
      </div>
      <div class="col-xs-6" style="text-align: left">
          <button class="btn btn-primary">Pause</button>
      </div>
    </div>
    </div>
  </div>
</div>